*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
  margin-top: 80px;
}

.headerDiv {
  background-color: #fbbc04;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 4px 20px;
  position: fixed; /* 使用 fixed 来固定在顶部 */
  height: 60px;
  top: 0; /* 确保在顶部 */
  width: 100%; /* 确保宽度为100% */
  z-index: 999; /* 低于侧边栏 */
}

.headerLeftMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.menu-btn{
  width: 40px;
  height: 40px;
  font-size: 35px; /* 根据需要调整 */
  line-height: 40px; /* 设置为按钮高度 */
  background-color: transparent;
  border: none;
  color: black;
  border: 1px solid black;
}

.menu-btn:hover{
  background-color: black;
  color: white;
}

.headerLogoDiv{
  text-align: center;
  height: 50px;
}

.header img{
  margin-top: 2px;
  height: auto;
  width: 50px;
}

.siteLogBtn a{
  text-decoration: none;
}

.logBtn, .WelBtn{
  background-color: black;
  color: #fbbc04;
  margin-right: 7px;
}

.regBtn, .LogBtn{
  background-color: red;
  color: white;
}

.regBtn2{
  color: white;
}

.logBtn2{
  color: #fbbc04;
}

.side-menu {
  position: fixed;
  left: -400px; /* 初始位置隐藏 */
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #fbbc04;
  transition: left 0.3s;
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.5);
  z-index: 1000; /* 确保侧边栏在 header 之上 */
}

.sideMenuConta{
  border-bottom: 1px solid black;
}

.side-menu li{
  list-style: none;
  text-align: left;
  margin: 0;
  width: 300px;
  border-top: 1px solid black;
}

.side-menu a{
  text-decoration: none;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 900;
  color: black;
  display: flex;
  width: 300px;
}

.side-menu a:hover {
  background-color: black;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: black;
}

.dropdown-container li{
  border: none;
}

.dropdown-container a{
  color: white;
  border-top: 1px solid #fbbc04;
}

.dropdown-container a:hover{
  background-color: #fbbc04;
  color: black;
  border-top: 1px solid black;
}

.per-menu-row-cover {
  display: flex;
  align-items: center;
}

.per-menu-row-cover i{
  font-size: 25px;
  font-weight: 900;
  margin-right: 10px;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.bx-chevron-down, .bx-chevron-up {
  margin-left: auto;
  font-size: 25px;
  font-weight: 900;
}

.siteLogBtn button{
  padding: 4px 10px;
  cursor: pointer;
  border: none;
  border-radius: 7px;
}

.footer-section {
  position: absolute; /* 绝对定位以固定在侧边栏底部 */
  bottom: 0; /* 离底部的距离 */
  left: 0;
  right: 0;
  text-align: center; /* 居中对齐 */
  padding: 10px; /* 内边距 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-image {
  width: 80px;
  height: auto; /* 自适应高度 */
}

.side-menu.open {
  left: 0; /* 打开菜单时 */
}

.closeBtnDiv{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: transparent;
}

.close-btn {
  background-color: transparent;
  border: none;
  color: black;
  align-items: left;
}

.close-btn i{
  font-size: 34px;
}

.profileDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.profileInfo{
  text-align: center;
  background-size: cover;
  background-color: #fbbc04;
  padding: 13px 10px;
  border-radius: 30px;
  box-shadow: 0 0 30px rgb(255, 0, 0);
}

.profileInfo h2{
  color: #fbbc04;
  font-weight: 900;
  margin-bottom: 10px;
  color: black;
}

.profilwPerRow{
  width: 400px;
  padding: 8px 10px;
  border: 1px solid #fbbc04;
  align-items: center;
  text-align: center;
  color: #fbbc04;
  margin: 5px 0;
  background-color: black;
}

.profileLabel{
  font-size: 16px;
  background-color: transparent;
  text-align: left;
  padding: 2px 0 2px 10px;
  color: black;
  display: flex;
  align-items: center;
  align-content: center;
  background-color: #fbbc04;
  margin-bottom: 6px;
}

.profilwPerRow i{
  margin-right: 3px;
  font-size: 22px;
  align-items: center;
  align-content: center;
}

.profilwPerRow span{
  text-align: center;
  padding: 2px 5px;
  background-color: transparent;
}

.profilwPerRow input{
  text-align: center;
  padding: 2px 5px;
  background-color: transparent;
  color: white;
  border: 2px solid #fbbc04;
}

#editFullName{
  width: 200px;
}

#editWanumber, #editInstaID{
  width: 200px;
}

.profileInfo button{
  margin-top: 10px;
  padding: 5px 20px;
  cursor: pointer;
  border: none;
  border-radius: 7px;
  background-color: red;
  color: white;
}

@media (max-width: 768px) {
  .profilwPerRow{
    width: 320px;
  }
  }

.loginContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.loginDiv2{
  display: flex;
  width: 800px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 2px solid #fbbc04;
  overflow: hidden;
}

.loginFormDiv3{
  display: flex;
  width: 100%;
}

.loginLeftSide{
  background: linear-gradient(to bottom, #fbbc04, #fbbc04);
  color: white;
  padding: 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.loginLeftH2{
  color: black;
}

.loginDomainName{
  color: black;
  margin-top: 10px;
  font-size: 20px;
}

.loginRightSide{
  padding: 50px 30px;
  width: 60%;
  background-color: black;
  text-align: center;
}

.loginRightH2{
  color: white;
  margin: 0 0 20px;
}

.loginRightSide label{
  color: white;
  display: block;
  margin: 10px 0 5px;
  text-align: left;
}

.loginRightSide input{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loginSubmitBtn{
  width: 100%;
  padding: 10px;
  background-color: #fbbc04;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.loginSubmitBtn:hover {
  background-color: red;
  color: white;
}

.loginFormContainer{
  display: flex;
  flex-direction: column;
}

.loginShowBtn{
  cursor: pointer;
  background: none;
  border: none;
  color: #fbbc04;
  text-decoration: underline;
  padding: 0;
  font-size: 18px;
}

.loginShowBtn:hover {
  color: red
}

.loginShowText{
  margin-top: 10px;
  color: white;
}

.loginErrorMessage{
  margin-top: 10px;
  color: red;
}

/* 当屏幕宽度小于 768px 时隐藏左侧设计 */
@media (max-width: 768px) {
  .loginLeftSide {
    display: none;
  }

  /* 调整右侧部分占据整个屏幕宽度 */
  .loginRightSide {
    width: 100%;
  }

  .loginFormContainer {
    padding: 20px;
  }
}

.paidReview-Cover{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.paidReview-Cover form {
  width: 550px;
  padding: 20px;
  border: 2px solid #2d93d6;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  font-weight: 900;
}

.paidReview-Per-form {
  max-width: 500px;
  margin: 20px auto;
  display: grid;
}

.paidReview-Label {
  display: block;
  margin-bottom: 5px;
  font-weight: 900;
  font-size: 22px;
}

.paidReview-Per-form input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
}

.businessInfo-textarea{
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  box-sizing: border-box;
  font-size: 16px;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.checkbox-group label {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap; /* 防止文字换行 */
  flex-basis: 30%; /* 每行容纳 3 个复选框 */
  padding: 10px 20px;
  margin: 5px;
  background-color: #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}
.checkbox-group input[type="checkbox"] {
  display: none; /* 隐藏复选框 */
}
/* 选中时更改背景颜色 */
.checkbox-group input[type="checkbox"]:checked + label {
  background-color: #70b9eb; /* 浅蓝色背景 */
}

.contact-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-options i {
  font-size: 36px;
  cursor: pointer;
  margin: 0 2px;
  transition: color 0.3s;
}

.contacInfo-Input{
  margin-left: 10px;
}

.whatsapp { color: #000; }
.telegram { color: #000; }

.paidReview-Cover button{
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  background-color: #2d93d6;
  color: white;
}

@media (max-width: 768px) {
  .paidReview-Per-form {
    max-width: 300px;
  }

  .paidReview-Label{
    font-size: 16px;
  }

  .checkbox-group label {
    font-size: 12px;
  }

  .paidReview-Per-form input[type="text"] {
    font-size: 12px;
  }

  .businessInfo-textarea {
    font-size: 12px;
  }

  .paidReview-Cover button {
    font-size: 14px;
  }

}

.upload-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.upload-wrapper form{
  width: 550px;
  padding: 20px 100px;
  border: 2px solid #2d93d6;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  font-weight: 900;
}

.upload-per-row{
  max-width: 500px;
  margin: 20px auto;
}

.upload-wrapper input, .upload-wrapper textarea{
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}

.upload-wrapper input{
  padding: 5px 10px;
  text-align: center;
}

.upload-wrapper textarea{
  width: 100%;
  padding: 5px 10px;
  resize: none;
  box-sizing: border-box;
}

.upload-attention{
  font-weight: 900;
  color: red;
  margin-bottom: 20px;
}

.upload-wrapper button{
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 20px;
  border: none;
  background-color: #2d93d6;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .upload-wrapper form {
    width: 350px;
    padding: 20px;
  }
}

.membersGallery-Top{
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.membersGallery-Top-1{
  color: #fbbc04;
}

.membersGallery-Top-2{
  font-size: 22px;
  margin-top: 10px;
  color: white;
}

.membersGallery-addPost-Button{
  margin-top: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.membersGallery-addPost-Button button{
  background-color: #fbbc04;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.membersGallery-addPost-Button i{
  font-size: 30px;
}

.membersGallery-Upload {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* 半透明背景 */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 使其覆盖在所有内容上层 */
}

.membersGallery-Upload-Div {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 90%;
  max-height: 80%;
  overflow-y: auto;
}

.membersGallery-Upload-Div h1{
  font-size: 26px;
}

.membersGallery-Upload-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

#photoInput {
  font-size: 22px; /* 设置文字大小 */
  width: 100%;
}

.membersGallery-UploadForm-Button{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.membersGallery-UploadForm-Button button{
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 15px;
  background-color: red;
  color: white;
  border: 1px solid #ccc;
}

#uploadBtn{
  background-color: #fbbc04;
  color: black;
}


.memberGalarry-wrapper{
  display: grid;
  justify-content: center;
  padding: 0 5px;
  background-color: white;
}

#photoGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-card {
  position: relative;
  width: 370px;
  margin: 10px;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-section, .bottom-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.photo-card i{
  font-size: 26px;
}

.user-icon {
  width: 26px; /* 根据需要调整大小 */
  height: 26px;
  border-radius: 50%; /* 如果希望图片呈圆形 */
}

.top-section i, .bottom-section i {
  cursor: pointer;
}

.top-section span, .bottom-section span {
  font-size: 1em;
  color: white;
}

.photo-image {
  width: 100%;
  height: 370px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .membersGallery-Upload-Div{
    padding: 10px;
  }
  .membersGallery-Upload-Div h1{
    font-size: 18px;
  }
  #photoInput{
    font-size: 14px;
  }
  .membersGallery-UploadForm-Button button{
    font-size: 12px;
    padding: 7px 15px;
  }
  .membersGallery-Top-1{
    font-size: 16px;
  }
  .membersGallery-Top-2{
    font-size: 12px;
  }
  .photo-card{
    width: 100%;
    margin: 5px;
  }
  .membersGallery-addPost-Button{
    margin-top: 10px;
  }
  .membersGallery-addPost-Button button{
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
  }
  .membersGallery-addPost-Button i{
    font-size: 20px;
  }
  .bottom-section span{
    font-size: 12px;
  }
  .bottom-section{
    padding: 5px 10px;
  }
}
